@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #eb1c1c;
  --foreground: #128623;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #e2f0d5;
    --foreground: #1e9e69;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
